<!doctype html>
<html>
	<head>
		<!-- Metadata -->
		<meta charset="UTF-8">
    	<title>ETA</title>
		
		<!-- CSS -->
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/photon.min.css') }}" media="all" />
  		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="all" />
		
		<!-- JS -->
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</head>
	<body>
		<div class="window">
			<div class="window-content">
				<div class="pane-group">
				<div class="pane-sm sidebar">...</div>
				<div class="pane">...</div>
				</div>
			</div>
		</div>
	</body>
</html>
